{% extends "CoreBundle::layout.html.twig" %}


{% block main %}
{% render path("embbed-main") %}

    <div class="main-container">
            {% block content %}
            {% endblock content %}
        
    </div>

{% endblock main %}