{% extends "CoreBundle::layout.html.twig" %}


{% block main %}


    <div class="container main-container">
        <div id="main-content">
            {% block content %}
            {% endblock content %}
        </div>
        
    </div>

{% endblock main %}