<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Luna Atra</title>


    {% stylesheets 
      'bundles/core/css/bootstrap.min.css'
      'bundles/core/css/bootstrap-theme.min.css'
      'bundles/core/css/lightbox.css'
      'bundles/core/css/style.less'
      'bundles/core/css/media-queries.less'
      'bundles/core/css/home.less'
       filter='less, cssrewrite'
      output="Resources/css/all.css"
    %}
      <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    {% javascripts
      '@CoreBundle/Resources/public/js/jquery-1.11.0.min.js'
      '@CoreBundle/Resources/public/js/lightbox.min.js'
       %}
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}


    {% block css %}
    {% endblock css %}


</head>
    <body class="{% block bodyclass %}{% endblock bodyclass %}">
    <div style="overflow:auto;padding-bottom: 10px;">
    {% render path("embbed-profile") %}

      <div id="background-image" style="background-image:url('{{ asset('bundles/core/images/background-home/'~ random(3) ~'.jpg') }}');"></div>
        {% block main %}
        {% endblock main %}
    </div>
    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
            test
            </div>
          </div>  
        </div>
    </footer>
    {% block jsbottom %}
    {% endblock jsbottom %}
    </body>
</html>