{% extends "CoreBundle::base.html.twig" %}

{% block content %}

{% include "ProfileBundle:Include:header-profile.html.twig" %}

<div class="row">
<div class="col-md-4">
    <div class="white-box">
        <h3><span>Galeries</span></h3>
    </div>
    <div class="white-box">
        <h3><span>Achèvements</span></h3>
    </div>
    <div class="white-box">
        <h3><span>Comptes</span></h3>
    </div>
</div>

<div class="col-md-8">
    <div class="white-box">
        {#{% include "ProfileBundle:Include:header-profile.html.twig" %}

    ownNotifications #}
    </div>
</div>

</div>
{% endblock content %}