{% extends "CoreBundle::base.html.twig" %}

{% block content %}

{% include "ProfileBundle:Include:header-profile.html.twig" %}

<div class="row">
<div class="col-md-4">
{% if user.characters|length > 0 %}
    <div class="white-box">
        <h3><span>Personnages</span></h3>
        <ul>
        {% for char in user.characters %}
            <li>{{ char.name }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
    <div class="white-box">
        <h3><span>Achèvements</span></h3>
    </div>
    <div class="white-box">
        <h3><span>Comptes</span></h3>
    </div>
</div>

<div class="col-md-8">
    
    {% if user.ownNotifications  %}
        {% render path("include-ownNotifications", {"id": user.id}) %}
    {% endif %}

</div>

</div>
{% endblock content %}