{% extends "CoreBundle::base.html.twig" %}

{% block content %}

{% include "ProfileBundle:Include:header-profile.html.twig" %}

<div class="row">
<div class="col-md-4">
    <div class="white-box">
        <h3>Galeries</h3>
    </div>
    <div class="white-box">
        <h3>Achèvements</h3>
    </div>
    <div class="white-box">
        <h3>Comptes</h3>
    </div>
</div>

<div class="col-md-8">
    <div class="white-box">
        coucou
    </div>
</div>

</div>
{% endblock content %}