{% extends "CoreBundle::base.html.twig" %}

{% block content %}

{% include "ProfileBundle:Include:header-profile.html.twig" %}
{% include "ProfileBundle:Include:top-profile.html.twig" %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
        {% if user.announce %}
            <h2 class="profile-announcement">&ldquo;{{ user.announce }}&rdquo;</h2>
        {% endif %}
        {% if user.characters|length > 0 %}
            <div class="white-box">
                <h3><span>Personnages</span></h3>
                <ul class="list-unstyled character-list-mini">
                {% for char in user.characters %}
                    <li><a href="{{ path("single-character", {id: char.id}) }}"><img src="{{ char.WebPath|imagine_filter("mini_character_thumbnail") }}"> {{ char.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
            <div class="white-box">
                <h3><span>Achèvements</span></h3>
            </div>
            <div class="white-box">
                <h3><span>Comptes</span></h3>
            </div>
        </div>

        <div class="col-md-8">
            
            {% if user.activities  %}
                {% render path("include-activities", {"id": user.id}) %}
            {% endif %}

        </div>

    </div>
</div>
{% endblock content %}