
{% if activities is defined %}
{% set date = "" %}

{% for act in activities %}

    {% if act.date|date("d-m-Y") != date %}

        
        {% set date = act.date|date("d-m-Y") %}
        <h2>{{ act.date|date("F") }} <span>{{ act.date|date("d") }}</span></h2>

    {% endif %}

    <div class="single-activity">
        <span>{{ act.text|raw }} <em>{{ act.date|date("H:i") }}</em></span>
    </div>


{% endfor %}

{% else %}
    
    {% if user == app.user %}
    <div class="white-box">
        <p>Tutorial</p>
     </div>
    {% endif %}

<div class="white-box">
    <p>No activity yet bro !</p>
 </div>
{% endif %}
    