<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


{% if activities is defined %}
{% for act in activities %}
<div class="white-box">
 <p>{{ act.text|raw }}</p>
 <p>{{ act.date|date }}</p>
 </div>
{% endfor %}
{% else %}
    
    {% if user == app.user %}
    <div class="white-box">
        <p>Tutorial</p>
     </div>
    {% endif %}

<div class="white-box">
    <p>No activity yet bro !</p>
 </div>
{% endif %}
</body>
</html>