<ul class="list-unstyled character-list-mini">
    <li><a href="{{ path("fos_user_profile_edit") }}">Profile</a></li>
    <li>Guild</li>
    <li><a href="{{ path("add-character") }}">Presonnages</a></li>
</ul>