{% extends "CoreBundle::base.html.twig" %}

{% block content %}
{% set user = app.user %}
{% include "ProfileBundle:Include:header-profile.html.twig" %}

<div class="row">


<div class="col-md-10 col-lg-8">
<article>
    <div class="white-box">
    <h1>Add character</h1>
        <div class="text-user">
        test
        </div>
    </div>
</article>
</div>

</div>
{% endblock content %}