{% extends "CoreBundle::base-profile.html.twig" %}

{% block content %}

        <div class=" col-md-12">
        {% if user.bio is not empty %}
        <article>
                <div id="bio" class="text-user col-lg-12 col-lg-10 col-lg-offset-1 white-box">
                {{ user.bio|raw }}
                </div>
                <div class="clearfix"></div>
        </article>
        {% elseif user != app.user %}
        <div class="no-data-full-size">
            <span class="glyphicon glyphicon-exclamation-sign"></span><br/>
            {{ user.username }} n'a pas de biographie.
        </div>
        {% else %}
         <div class="no-data-full-size">
            <span class="glyphicon glyphicon-exclamation-sign"></span><br/>
            Vous n'avez pas de biographie.<br/>
            <a href="{{ path("fos_user_profile_edit") }}"><span class="glyphicon glyphicon-pencil"></span> Éditer votre profil</a>
        </div>
        
        {% endif %}
        </div>

{% endblock content %}